In [1]:
# Products (SKU) of our interets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
# Read Excel file into a pandas DataFrame
file_path = 'Online Retail.xlsx'  # Replace with your file path
raw_df = pd.read_excel(file_path)

In [ ]:
targets = ['85123A', '84879', '21212', '21977', '85099B', '22197', '22178', '22616', '17003', '84077']
df = raw_df[raw_df['StockCode'].astype(str).isin(targets)]
df.dropna(subset=['Description', 'CustomerID'], inplace=True)
df = df[(df['Quantity'] >= 0) & (df['UnitPrice'] >= 0)]
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'].dt.strftime('%Y-%m-%d'))
df.head()

/tmp/ipykernel_20604/2246441108.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['Description', 'CustomerID'], inplace=True)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01,1.69,13047.0,United Kingdom
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01,0.42,14688.0,United Kingdom

In [29]:
df.shape

(9787, 8)

In [30]:
df.drop(columns=['Country', 'CustomerID', 'Description'], inplace=True)
grouped_df = df.groupby(['StockCode', 'InvoiceDate']).agg({'Quantity': 'sum', 'UnitPrice': 'mean'}).reset_index()
print(grouped_df.shape)
grouped_df.head()

(2590, 4)

  StockCode InvoiceDate  Quantity  UnitPrice
0     17003  2010-12-01        36      0.210
1     17003  2010-12-02        36      0.210
2     17003  2010-12-05       723      0.185
3     17003  2010-12-06       180      0.210
4     17003  2010-12-09        36      0.210

In [ ]:
grouped_df.to_csv('price_plan_raw_data.csv', index=False)

In [31]:
grouped_df['StockCode'].unique()

array([17003, 21212, 21977, 22178, 22197, 22616, 84077, 84879, '85099B',
       '85123A'], dtype=object)

In [33]:
# Save description of top 20 products
descriptions = raw_df[raw_df['StockCode'].astype('str').isin(targets)][['StockCode', 'Description']].drop_duplicates()
descriptions.to_csv('price_plan_descriptions.csv', index=False)

In [34]:
descriptions.head()

    StockCode                         Description
0      85123A  WHITE HANGING HEART T-LIGHT HOLDER
9       84879       ASSORTED COLOUR BIRD ORNAMENT
96      21212     PACK OF 72 RETROSPOT CAKE CASES
98      21977  PACK OF 60 PINK PAISLEY CAKE CASES
177    85099B             JUMBO BAG RED RETROSPOT